<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css'/>
  </head>
  <body>
    <div class="banner">
      <div class="content">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <!-- Navigate Login -->
    <form action="" method="post">
      <input type="submit" class="button-5" value="Login">
    </form>
  </div>
  </div>
  </body>
</html>








