<!DOCTYPE html>
<html>
  <head>
    <!-- <title><%= title %></title> -->
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
    <div class="center">
    <h1>Login</h1>

    <!-- Login -->
    <form action="login" method="post">
        <div class="txt_field">
      <label for="username">Username</label>
        <input type="text" 
               name="username" 
              >
      </div>
      <div class="txt_field">
        <label for="Password">Password</label>
        <input type="password" 
               name="password" 
               >
      </div>
      
      <input type="submit" value="Login">
    </div>
    </form>
  </body>
</html>
