<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/shop1.css'/>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome <%= name %> to ATN Shop</p>
    <div class="show">
    <%- table_string %>
  </div>
  </body>
</html>